.title{
    font-size: 1.4rem;
    font-weight: bold;
}

.table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-switch{
    display: flex;
    align-items: flex-end;}

.invalid-form{
    border: 1px solid red;
}    
.profile-img{
    width:3rem;
    height:3rem;
}
.remove-image{
    margin:0 0.3 rem ;
    color: red;
    cursor: pointer;
}
