<div class="modal d-block" tabindex="-1" style="background-color: #000000a6">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"(click)="confrimDelete(false)"></button>
      </div>
      <div class="modal-body">
        <p>{{content}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"(click)="confrimDelete(false)" >Close</button>
        <button type="button" class="btn btn-danger" (click)="confrimDelete(true)">Delete</button>
      </div>
    </div>
  </div>
</div>
